@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    text-decoration: none;
}


.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
}

header {
    padding: 10px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #222;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}

.logo .logo-text img {
   height: 40px;
   width: auto;
   margin-top: 10px;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem;
}

/*BREAKPOINTS*/

@media screen and (max-width: 767px) {
    nav .togglebtn {
        display: initial;
    }
    /*FOR TOGGLE BUTTON*/
    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-40deg);
    }

    .click span:nth-child(2) {
       opacity: 0;
       margin: 0;
    }

    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -60%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        padding: 25px 0px;
        display: none;
    }

    nav .navlinks li {
        display: block;
    }

    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open {
        display: block;
        transition: 0.5s;
        right: 0;
    }
}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1023px) {

}