@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    text-decoration: none;
}

body {
    font-family: 'Lora', serif;
    font-size: 16px;
    background-color: #222;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    
}

.hero-pic img {
    height: 200%;
    width: 130%;
    transition: 0.5s;
    margin-left: -35px;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    color: #007ced;
    font-size: 16px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
    padding: 10px 0;
}

.hero-text p {
    color: #e5e5e5;
}

.cv {
    color: #007ced;
    font-weight: 900;
    text-decoration: underline;
}

.btn-group{
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
    border-color: #007ced;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover {
    color: #007ced;
    transform: rotate(360deg);
}

.globe {
    margin-top: 20px;
}


/*BREAKPOINTS*/

@media screen and (max-width: 767px) {
    
  }
  

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }

    .hero-text {
        padding: 40px 0px ;
    }
  }
  

@media screen and (min-width: 1023px) {

  }